<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HAC.REMOTING.SGS.INTERNACAO.PORT" value="5000" />
    <add key="HAC.REMOTING.SGS.INTERNACAO.PATH" value="localhost" />
    <add key="HAC.REMOTING.SGS.INTERNACAO.CHANNEL" value="TCP" />
    <add key="HAC.REMOTING.SERVICES.PORT" value="8098" />
    <add key="HOST_ORIGEM_EMAIL_SGS" value="172.16.1.18" />
    <!-- config. para homolog -->
    <add key="PORTA_HOST_ORIGEM_EMAIL_SGS" value="587" />
    <!--<add key="EMAIL_ORIGEM_SGS" value="sgs@anacosta.com.br"/>-->
    <add key="EMAIL_DESTINO_QUARTOLEITO" value="pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_DESTINO_QUARTOLEITO_COPIA" value="tisgs@anacosta.com.br" />
    <add key="EMAIL_DESTINO_HOTELARIA" value="fabiola.lopes@anacosta.com.br" />
    <add key="EMAIL_ORIGEM_SGS" value="fabiola.lopes@anacosta.com.br" />
    <add key="EMAIL_ORIGEM_SGS_PASSWORD" value="b1llyl0p35" />
    <!-- config. para prod -->
    <!--<add key="PORTA_HOST_ORIGEM_EMAIL_SGS" value="587"/>
    <add key="EMAIL_ORIGEM_SGS" value="pedro.carvalho@anacosta.com.br"/>
    <add key="EMAIL_ORIGEM_SGS_PASSWORD" value="pedro008"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO" value="hotelaria@anacosta.com.br,same@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO_COPIA" value="tisgs@anacosta.com.br"/>-->
    <!-- GERACAO DE ARQUIVO TXT PACIENTES INTERNADOS SGS -> DAXIS GLADIUS-->
    <add key="USUARIO.AD" value="tisgsservice" />
    <add key="SENHA.AD" value="sgs123" />
    <!--<add key="SERVIDOR.AD" value="172.16.1.123" />-->
    <add key="SERVIDOR.HAC" value="anacosta" />
    <!-- geração e atualização do arquivo -->
    <add key="GERA_ARQUIVO_INTERNADOS_SGS_GLADIUS" value="N" />
    <add key="TEMPO_GERACAO_ARQUIVO_INTERNADOS_SGS_GLADIUS" value="720" />
    <!-- tempo, em minutos -->
    <add key="UNIDADE_GERACAO_ARQUIVO_INTERNADOS_SGS_GLADIUS" value="244" />
    <add key="NOME_ARQUIVO_INTERNADOS_SGS_GLADIUS_SANTOS" value="HOSPITAL_SANTOS" />
    <add key="DIRETORIO_INTERNADOS_SGS_GLADIUS_SANTOS" value="\\gladhac01\interface\teste_" />
    <add key="SMSCONTELE" value="http://sms.contele.com.br/bulksms/submitsms.go" />
    <add key="usuario" value="maria.santos@anacosta.com.br" />
    <add key="senha" value="Contele123" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; enlist=false" providerName="System.Data.OracleClient" />
    <!--<add name="ConnectionStringOracle" connectionString="server=odaprod;password=ti021315;user id=ti107085;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; enlist=false" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>