<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Remoting-->
    <!--

    -->
    <!-- Cadastro -->
    <!--
    <add key ="HAC.REMOTING.SGS.CADASTRO.PORT" value ="8091"/>
    <add key="HAC.REMOTING.SGS.CADASTRO.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.CADASTRO.CHANNEL" value="TCP"/>

    -->
    <!-- Seguranca -->
    <!--
    <add key ="HAC.REMOTING.SGS.SEGURANCA.PORT" value ="8092"/>
    <add key="HAC.REMOTING.SGS.SEGURANCA.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.SEGURANCA.CHANNEL" value="TCP"/>
    -->
    <!-- /Remoting -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false" providerName="System.Data.OracleClient"/>-->
    <add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs2;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false" providerName="System.Data.OracleClient" />
    <!--<add name="ConnectionStringOracle" connectionString="server=oraprod;password=ti021315;user id=ti107085;Max Pool size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>