<?xml version="1.0"?>
<configuration>
     
    
  <appSettings>
    <!-- BD Producao -->
    <add key="HAC.BD.REMOTING.PORT" value="7010"/>
    <add key="HAC.BD.REMOTING.CHANNEL" value="TCP"/>
    <add key="HAC.BD.REMOTING.PATH" value="svchac01"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
