<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false;" providerName="System.Data.OracleClient"/>
	  <!--<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs2;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false;" providerName="System.Data.OracleClient"/>-->
	  <!--<add name="ConnectionStringOracle" connectionString="server=oraprod;password=ti021315;user id=ti107085;Max Pool size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false;" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <appSettings>
    <!-- Gestão Materiais -->
    <add key ="HAC.REMOTING.SGS.GESTAOMATERIAIS.PORT" value ="8090"/>
    <add key="HAC.REMOTING.SGS.GESTAOMATERIAIS.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.GESTAOMATERIAIS.CHANNEL" value="TCP"/>

    <!-- CADASTRO FATURAMENTO -->
    <add key ="HAC.REMOTING.SERVICES.CADASTROFATURAMENTO.PORT" value ="8100"/>
    <add key="HAC.REMOTING.SERVICES.CADASTROFATURAMENTO.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SERVICES.CADASTROFATURAMENTO.CHANNEL" value="TCP"/>

    <!--CALCULO FATURAMENTO -->
    <add key ="HAC.REMOTING.SERVICES.CALCULOFATURAMENTO.PORT" value ="8102"/>
    <add key="HAC.REMOTING.SERVICES.CALCULOFATURAMENTO.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SERVICES.CALCULOFATURAMENTO.CHANNEL" value="TCP"/>


  </appSettings>
</configuration>
