<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="HAC.REMOTING.SERVICES.SEGURANCA.PORT" value ="8101"/>
    <add key="HAC.REMOTING.SERVICES.SEGURANCA.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SERVICES.SEGURANCA.CHANNEL" value="TCP"/>
  </appSettings>
  <connectionStrings>
	  <add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/>
    <!--<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs2;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false" providerName="System.Data.OracleClient"/>-->
    <!--<add name="ConnectionStringOracle" connectionString="server=oraprod;password=ti021315;user id=ti107085;Max Pool size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
</configuration>
