<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/> 
		<!--<add name="ConnectionStringOracle" connectionString="server=oraprod;password=br123;user id=ticons02;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/>-->
	</connectionStrings>
	<appSettings>
		<!--Sites SMS-->
		<!--<add key="SMSVIVO" value="https://www.portal-sva.vivo.com.br:3444/torpedoempresas/api/enviarMensagemAvulsa"/>-->
		<add key="SMSCONTELE" value="http://sms.contele.com.br/bulksms/submitsms.go"/>
    <add key="usuario" value="maria.santos@anacosta.com.br"/>
    <add key="senha" value="Contele123"/>
		<!--/Sites SMS-->
    
		<!-- Remoting-->

		<!-- SMS -->
		<add key="HAC.REMOTING.SGS.SMS.PORT" value ="8087"/>
		<add key="HAC.REMOTING.SGS.SMS.PATH" value="localhost"/>
		<add key="HAC.REMOTING.SGS.SMS.CHANNEL" value="TCP"/>

		<!-- /Remoting -->
	</appSettings>
</configuration>