<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Remoting-->
    <!-- SADT -->
    <add key="HAC.REMOTING.SGS.SADT.PORT" value="8086"/>
    <add key="HAC.REMOTING.SGS.SADT.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.SADT.CHANNEL" value="TCP"/>

    <!-- ATENDIMENTO SADT -->
    <add key="HAC.REMOTING.SGS.SADT.ATENDIMENTO.PORT" value="8088"/>
    <add key="HAC.REMOTING.SGS.SADT.ATENDIMENTO.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.SADT.ATENDIMENTO.CHANNEL" value="TCP"/>

    <!-- SMS -->
    <add key="HAC.REMOTING.SGS.SMS.PORT" value ="8087"/>
    <add key="HAC.REMOTING.SGS.SMS.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.SMS.CHANNEL" value="TCP"/>

    <!-- Autorizador -->
    <add key ="HAC.REMOTING.SGS.ACS.AUTORIZADOR.PORT" value ="8089"/>
    <add key="HAC.REMOTING.SGS.ACS.AUTORIZADOR.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.ACS.AUTORIZADOR.CHANNEL" value="TCP"/>

    <!-- GestaoMateriais -->
    <add key ="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.PORT" value ="8090"/>
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.CHANNEL" value="TCP"/>

    <!-- Cadastro -->
    <add key ="HAC.REMOTING.SGS.CADASTRO.PORT" value ="8091"/>
    <add key="HAC.REMOTING.SGS.CADASTRO.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.CADASTRO.CHANNEL" value="TCP"/>

    <!-- Seguranca -->
    <add key ="HAC.REMOTING.SGS.SEGURANCA.PORT" value ="8092"/>
    <add key="HAC.REMOTING.SGS.SEGURANCA.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.SEGURANCA.CHANNEL" value="TCP"/>


    <!-- /Remoting -->
    <!-- Segurança -->
    <add key="QTD_DIAS_PROXIMA_EXPIRACAO_SENHA" value="30"/>
    <add key="br.com.correios.consultacep.query" value="http://consultacep.correios.com.br/office2003/query.asmx"/>
    <!-- Configurações para Envio de Email -->
    <add key="EMAIL_ORIGEM_SGS" value="sgs@anacosta.com.br"/>
    <add key="EMAIL_ORIGEM_ERRO" value="sgs@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ERRO" value="bruno.alvares@anacosta.com.br"/>
    <!-- Configurações para Envio de Email (para o Coordenador) caso ocorra erro no sistema  -->
    <add key="ENVIAR_EMAIL_ERRO_AOS_RESPONSAVEIS" value="N"/>
    <add key="LOGAR_ERRO_EVENTVIEWER" value="N"/>
    <add key="LOGAR_ERRO_BANCO" value="N"/>
    <!-- Reporting Server -->
    <add key="ReportServerURL" value="http://devhac01/reportserver?%2fSgsReport%2f"/>
    <!-- SMS -->
    <add key="AGENDAMENTO.SMS" value="S"/>
    <!-- /SMS -->
    <!--<add key="ReportDataSource" value="SgsProducao"/>-->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/>
    <!--<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs;user id=migra_sgs2;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
</configuration>