<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringOracle" connectionString="server=odaprod;password=ti021315;user id=ti107085;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0;enlist=false;" providerName="System.Data.OracleClient"/>
    <!--<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0;enlist=false;" providerName="System.Data.OracleClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- Configuracao Segurança -->
    <add key="HAC.SEGURANCA.CONFIG.MODULO" value="FATURAMENTO" />
    <!-- Intervalo de execução (minutos) -->
    <add key="INTERVALO" value="60" />
    <add key="LABORATORIO_ATIVO" value="S" />
    <add key="AMBULATORIO_ATIVO" value="S" />
    <add key="SADT_ATIVO" value="S" />
    <add key="DIARIA_ATIVO" value="S" />
    <add key="GERACAO_PARCELA_LOTE_ATIVO" value="S" />
    <!-- Hora no formato 24h -->
    <add key="CONSULTA_SADT_HORA_EXECUCAO2" value="1" />
    <add key="GERACAO_PARCELA_LOTE_HORA_EXECUCAO" value="3" />
    <add key="DIARIA_HORA_EXECUCAO" value="4" />
    <add key="LABORATORIO_HORA_EXECUCAO" value="5" />
    <add key="CONSULTA_SADT_HORA_EXECUCAO1" value="12" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>