<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringOracle" connectionString="server=desenv_new;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0; Enlist=false;" providerName="System.Data.OracleClient"/>
    <!--<add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs2;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key ="HAC.REMOTING.SGS.SEGURANCA.PORT" value ="8092"/>
    <add key="HAC.REMOTING.SGS.SEGURANCA.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.SEGURANCA.CHANNEL" value="TCP"/>
  </appSettings>
</configuration>
