<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WsHttp">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ewsclient.epimedmonitor.com/EwsClient.svc"
                binding="wsHttpBinding" bindingConfiguration="WsHttp" contract="IEwsClient"
                name="WsHttp" />
        </client>
    </system.serviceModel>
</configuration>