<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.PORT" value="8090" />
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.CHANNEL" value="TCP" />
    <add key="HAC.REMOTING.SERVICES.CHANNEL" value="TCP" />
    <add key="HAC.REMOTING.SERVICES.PORT" value="8098" />
    <add key="HAC.BD.REMOTING.PORT" value="7010" />
    <add key="HAC.BD.REMOTING.CHANNEL" value="TCP" />   
    
    
    <!--<add key="ReportPath" value="/SGS/homolog/" />
    <add key="ServidorBD" value="localhost" />
    <add key="ServidorServiços" value="localhost" />
    <add key="HAC.REMOTING.SERVICES.PATH" value="localhost" />
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.PATH" value="172.16.1.117" />
    <add key="EMAIL.GRUPO.CENTRALDEGUIAS" value="tisgs@anacosta.com.br" />
    <add key="EMAIL_DESTINO_COBRANCA" value="pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_DESTINO_COBRANCA_COPIA" value="silmara.helena@anacosta.com.br" />
    <add key="EMAIL_DESTINO_QUARTOLEITO" value="pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_DESTINO_QUARTOLEITO_COPIA" value="silmara.helena@anacosta.com.br" />
    <add key="HAC.BD.REMOTING.PATH" value="localhost" />
    <add key="EMAIL_ORIGEM_SGS" value="pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_ORIGEM_SGS_PASSWORD" value="hac123" />
    <add key="PORTA_HOST_ORIGEM_EMAIL_SGS" value="587"/>
    <add key="EMAIL_DESTINO_ATENDIMENTO_DOMICILIAR" value="pedro.carvalho@anacosta.com.br" /> 
    <add key="EMAIL_DESTINO_ATENDIMENTO_DOMICILIAR_COPIA" value="silmara.helena@anacosta.com.br" />
    <add key="DIRETORIO_INTERNADOS_SGS_GLADIUS_SANTOS" value="\\gladhac01\interface\teste_" />
    <add key="EMAIL_DESTINO_REATIVACAO_PESSOA" value="pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_DESTINO_QUARTOLEITO_MANUTENCAO" value="pedro.carvalho@anacosta.com.br, silmara.helena@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO_MANUTENCAO_COPIA" value="pedro.carvalho@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ISOLAMENTO" value="pedro.carvalho@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ISOLAMENTO_COPIA" value="pedro.carvalho@anacosta.com.br"/>
    <add key="SMS_COPIA" value="(13) 997024193,(13) 997777160"/>
    <add key="SMS_SCIH" value="(13) 997024193,(13) 997777160"/>
    <add key="SMS_SCIH_COPIA" value="(13) 997024193,(13) 997777160"/>-->

    <add key="ReportPath" value="/SGS/homolog/"/>
    <add key="ServidorBD" value="desenv-sgs"/>
    <add key="ServidorServiços" value="localhost"/>
    <add key="HAC.REMOTING.SERVICES.PATH" value="localhost"/>
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.PATH" value="devhac06.anacosta.com.br"/>
    <add key="EMAIL.GRUPO.CENTRALDEGUIAS" value="tisgs@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_COBRANCA" value="silmara.helena@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_COBRANCA_COPIA" value="pedro.carvalho@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO" value="silmara.helena@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO_COPIA" value="pedro.carvalho@anacosta.com.br"/>
    <add key="HAC.BD.REMOTING.PATH" value="devhac06.anacosta.com.br"/>
    <add key="EMAIL_ORIGEM_SGS" value="pedro.carvalho@anacosta.com.br"/>
    <add key="EMAIL_ORIGEM_SGS_PASSWORD" value="hac123"/>    
    <add key="PORTA_HOST_ORIGEM_EMAIL_SGS" value="587"/>
    <add key="EMAIL_DESTINO_ATENDIMENTO_DOMICILIAR" value="silmara.helena@anacosta.com.br" />
    <add key="EMAIL_DESTINO_ATENDIMENTO_DOMICILIAR_COPIA" value="silmara.helena@anacosta.com.br" />
    <add key="DIRETORIO_INTERNADOS_SGS_GLADIUS_SANTOS" value="\\gladhac01\interface\teste_" />
    <add key="EMAIL_DESTINO_REATIVACAO_PESSOA" value="silmara.helena@anacosta.com.br,pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_DESTINO_REATIVACAO_PESSOA" value="silmara.helena@anacosta.com.br" />
    <add key="EMAIL_DESTINO_REINTERNADO" value="silmara.helena@anacosta.com.br" />
    <add key="EMAIL_DESTINO_REINTERNADO_COPIA" value="pedro.carvalho@anacosta.com.br" />
    <add key="EMAIL_DESTINO_QUARTOLEITO_MANUTENCAO" value="pedro.carvalho@anacosta.com.br, silmara.helena@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO_MANUTENCAO_COPIA" value="pedro.carvalho@anacosta.com.br, silmara.helena@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ISOLAMENTO" value="app@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ISOLAMENTO_COPIA" value="pedro.carvalho@anacosta.com.br"/>
    <add key="SMS_COPIA" value="(13) 997777160, (13) 997777160"/>
    <add key="SMS_SCIH" value="(13) 997024193,(13) 997777160"/>
    <add key="SMS_SCIH_COPIA" value="(13) 997024193,(13) 997777160"/> 

    <!--svchac01-->
    <!--<add key="ReportPath" value="/SGS/prod/"/>
    <add key="ServidorBD" value="oraprod"/>
    <add key="ServidorServiços" value="svchac01"/>
    <add key="HAC.REMOTING.SERVICES.PATH" value="svchac01.anacosta.com.br"/>
    <add key="HAC.REMOTING.SGS.ACS.GESTAOMATERIAIS.PATH" value="172.16.1.117"/>
	  <add key="EMAIL.GRUPO.CENTRALDEGUIAS" value="centraldeguias@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_COBRANCA" value="cobranca@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_COBRANCA_COPIA" value="cobrança.convenio@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO" value="hotelaria@anacosta.com.br,same@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_QUARTOLEITO_COPIA" value="tisgs@anacosta.com.br"/> 
    <add key="HAC.BD.REMOTING.PATH" value="svchac01.anacosta.com.br"/>
    <add key="EMAIL_ORIGEM_SGS" value="sgs@anacosta.com.br"/>
    <add key="EMAIL_ORIGEM_SGS_PASSWORD" value=""/>
    <add key="PORTA_HOST_ORIGEM_EMAIL_SGS" value="25"/>
    <add key="EMAIL_DESTINO_ATENDIMENTO_DOMICILIAR" value="cuidadosdetransicao@anacostasaude.com.br,luiz.araujo@anacosta.com.br,tiago.lima@anacosta.com.br" />
    <add key="EMAIL_DESTINO_ATENDIMENTO_DOMICILIAR_COPIA" value="enfermeiros.supervisores@anacosta.com.br,tisgs@anacosta.com.br" />
    <add key="DIRETORIO_INTERNADOS_SGS_GLADIUS_SANTOS" value="\\gladhac01.anacosta.com.br\interface\teste_" />
    <add key="EMAIL_DESTINO_REATIVACAO_PESSOA" value="tisgs@anacosta.com.br" />
     <add key="EMAIL_DESTINO_REINTERNADO" value="nqsp@anacosta.com.br " />
    <add key="EMAIL_DESTINO_REINTERNADO_COPIA" value="tisgs@anacosta.com.br" />
    <add key="EMAIL_DESTINO_QUARTOLEITO_MANUTENCAO" value="hotelaria@anacosta.com.br,manutencao@anacosta.com.br,gestao.leitos@anacosta.com.br,segurancadotrabalho@anacosta.com.br"/>  
    <add key="EMAIL_DESTINO_QUARTOLEITO_MANUTENCAO_COPIA" value="tisgs@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ISOLAMENTO" value="scih@anacosta.com.br"/>
    <add key="EMAIL_DESTINO_ISOLAMENTO_COPIA" value="tisgs@anacosta.com.br"/>
    <add key="SMS_COPIA" value="(13) 997857273,(13) 981166026"/>
    <add key="SMS_SCIH" value="(13) 997024193,(13) 997777160"/>
    <add key="SMS_SCIH_COPIA" value="(13) 997024193,(13) 997777160"/>-->
  

    <!-- Configuracao Segurança -->
    <add key="QTD_DIAS_PROXIMA_EXPIRACAO_SENHA" value="30"/>
    <add key="HAC.SEGURANCA.CONFIG.MODULO" value="INTERNACAO"/>

    <!-- Reporting Server -->
    <add key="ReportServerURL" value="http://sqlhac01.anacosta.com.br/Reportserver_SGSSQLDB/"/>
    <add key="ReportDomain" value="anacosta"/>
    <add key="ReportUser" value="relatorio"/>
    <add key="ReportPassword" value="relatorio"/>

    <!-- MANUAIS INTERNACAO -->
    <add key="manualInternacao" value="file://BRHANCFSWVP0792\Publico$\Manual/SGS/Internação/Index.htm"/>
    <add key="protocoloTEV_Cirurgico" value="file://BRHANCFSWVP0792\Publico$\Manual/SGS/Internação/Protocolo-TEV-Cirurgico14102019.pdf"/>
    <add key="protocoloTEV_Clinico" value="file://BRHANCFSWVP0792\Publico$\Manual/SGS/Internação/Protocolo-TEV-Clínico14102019.pdf"/>
    <add key="LEGENDA_TISS_V3" value="file://BRHANCFSWVP0792\Publico$\Manual/SGS/TISS/Legendas para Preenchimento Guias TISS 3.0.htm"/>

    <!-- AVISO DE INTERNACAO PARA PACIENTE PARTICULAR INADIMPLENTE-->
    <add key="HOST_ORIGEM_EMAIL_SGS" value="172.16.1.18"/>

    <!-- CONFIGURAÇÃO EXPORTACAO DA CIHA PARA O DIRETORIO DE ACORDO COM A UNIDADE SELECIONADA-->
    <add key="DIRETORIO_CIHA_EXPORTAR_SANTOS" value="C:\SANTOS\" />
    <add key="DIRETORIO_CIHA_EXPORTAR_SAOVICENTE" value="C:\SAOVICENTE\" />
    <add key="DIRETORIO_PRESCRICAO_MEDICA" value="\\BRHANCFSWVP0792\Publico$\Manual\SGS\Internação\Medicamentos Padronizados - finalizado word (2).pdf" />

    <!-- GERACAO DE ARQUIVO TXT PACIENTES INTERNADOS SGS -> DAXIS GLADIUS-->
    <add key="USUARIO.AD" value="tisgsservice" />
    <add key="SENHA.AD" value="sgs123" />
    <!--<add key="SERVIDOR.AD" value="172.16.1.123" />-->    
    <add key="SERVIDOR.HAC" value="anacosta" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>