<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <connectionStrings>
    <!--<add name="ConnectionStringOracle" connectionString="server=odaprod;password=ti021315;user id=ti107085;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0;Enlist=false;" providerName="System.Data.OracleClient"/>-->
    <add name="ConnectionStringOracle" connectionString="server=desenv;password=sgs123;user id=sgs;Max Pool Size=50;Min Pool Size=10;Pooling=true;Connection Lifetime=0;enlist=false;" providerName="System.Data.OracleClient"/>
    <!--<add name="ConnectionStringOracle" connectionString= "User Id=sgs;Password=sgs123;Data Source=desenv;Min Pool Size=10;Connection Lifetime=0; Max Pool Size=50;"/>-->
    <!--<add name="ConnectionStringOracle" connectionString= "User Id=sgs;Password=sgs123;Data Source=desenv;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="HAC.REMOTING.SERVICES.PORT"  value="8500" />
    <add key="HAC.REMOTING.SERVICES.PATH" value="localhost"/>
    <add key="CAMINHO_ARQUIVOS_BOLETO" value="\\dchac01\itau\"/>
   <add key="WSConvenio" value="http://devhac05/webservicerm/FaturamentoConvenio.asmx"/>
  </appSettings>
 
</configuration>