<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="None">      
    </authentication>
    <customErrors mode="Off" />
    <compilation debug="true"/>
  </system.web>
</configuration>